fastapi==0.116.1
uvicorn[standard]==0.35.0

motor==3.7.1
pymongo==4.14.1

redis==6.4.0

pydantic==2.11.7
pydantic-settings==2.10.1

python-dotenv==1.1.1

loguru==0.7.3

httpx==0.28.1

python-jose==3.5.0
passlib[bcrypt]==1.7.4

tenacity==9.1.2

pytest==8.4.1
pytest-asyncio==1.1.0

ruff==0.12.8
black==25.1.0

motor==3.7.1
pymongo==4.14.1
